
.color {
  margin-top: 100px;
  background-color: rgb(112, 178, 245);
}
.col-md-3 {
  margin-bottom: 20px;
  
}

.card {
  padding:10px;
  border: solid 1px rgba(0,0,0,0.08);
  cursor:pointer;
  
}

.card:hover {
  box-shadow: 0 0 15px 5px rgba(0,0,0, 0.08)
}

.card-text {
  color: rgba(0,0,0, 0.6)
}
.card-title {
  margin-top:20px;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.avatar {
  width:100px;
  height:150px;
 
  margin:auto;
}

.star-color{
  color:gold;
}

.footer {
  background: black;
}

